body {
  background-color: #f4f8ff;
  color: rgb(82, 82, 82);
  padding: 40px;
  font-family: Arial;
  margin: 10px;
  padding: 10px;
  position: relative;
  min-height: 100vh;
}

p {
  line-height: 35px;
  font-size: 1.3rem;
}

h2 {
  color: rgb(100, 146, 207);
}

h5 {
  color: rgb(82, 82, 82);
}

.container {
  padding-top: 20px;
}

/* Set both margin and padding to 0 to removev browser defaults */
.navbar {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

li {
  float: right;
}

/* block allows area to be clicked, width specifies the area*/
li a {
  display: block;
  width: 100px;
  color: rgb(82, 82, 82);
  text-align: center;
  padding: 10px 13px;
  text-decoration: none;
}

li a:hover {
  color: rgb(100, 146, 207);
}

.projlink {
  text-decoration: none;
  color: rgb(100, 146, 207);
  display: block;
  width: 80px;
  height: 30px;
}

.homelink {
  text-decoration: none;
  color: rgb(100, 146, 207);
  width: 80px;
  height: 30px;
}

.thanks {
  font-size: 1.7rem;
}

.projlink:hover {
  color: rgb(82, 82, 82);
}

.tech-block {
  font-size: 12px;
  list-style-type: none;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 3px;
  line-height: 13px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(153, 197, 255);
  border-radius: 3px;
}

.hometitle-card {
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(-35deg, #ffcebf, #e294b2, #a1c6d3, #a3d6ca);
  background-size: 400% 400%;
  animation: gradient 16s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hometitle-container {
  text-align: center;
  font-size: 33px;
  margin: 10px;
}

.contact-card {
  margin-top: 90px;
}

.contact-container {
  text-align: center;
}

.card-body {
  padding-top: 10px;
  width: 70%;
  margin: 0 auto;
}

.container-body {
  align-items: center;
  margin-bottom: 40px;
}

.mytech-card {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 5px rgba(143, 143, 143, 0.2);
}

.mytech-container {
  margin-top: 70px;
  padding: 20px;
}

.mytech-card p {
  font-size: 1.1rem;
}

.card-project {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 900px;
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.2);
}

.card-project:hover {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
}

.container-project {
  margin: 30px;
  padding-bottom: 60px;
}

.subtitle {
  font-size: 20px;
}

.footer {
  position: absolute;
  height: 2rem;
  left: 0;
  bottom: 0;
  right: 40px;
  display: flex;
  justify-content: center;
}

.footer ul {
  font-size: 12px;
  padding-top: 50px;
}

@media (max-width: 600px) {
  .navbar {
    float: right;
    line-height: 20px;
    width: 100px;
  }
  li a {
    padding: 1px;
    margin-top: -5px;
  }

  .hometitle-card {
    margin-top: 40px;
  }
}
